<!DOCTYPE html>
<html lang = "en">
    <head>
        <title>Single Page</title>
    <script>

        //when back arrow is clicked, show previous section
        window.onpopstate = function(event) {
            console.log(event.state.section);
            showSection(event.state.section);
        }

        //shows given section
        function showSection (section) {
            //find section text from server
            fetch(`/singlepage/sections/${section}`)
            .then(response => response.text())
            .then(text => {
                //Log text and display on page
                console.log(text);
                document.querySelector('#content').innerHTML = text;
            });
        }

        document.addEventListener('DOMContentLoaded', function() {
            //add button functionality
            document.querySelectorAll('button').forEach(button => {
                button.onclick = function() {
                    const section = this.dataset.section;

                    //add the current state to the history
                    history.pushState({section: section}, "", `section${section}`)
                    showSection(this.dataset.section);
                };
            });
        });

    </script>
    </head>
    <body>
        <h1>Hello !</h1>
        <button data-section = "1">Section 1</button>
        <button data-section = "2">Section 2</button>
        <button data-section = "3">Section 3</button>
        <div id = "content">
        </div>
    </body>
</html>