.rounded_corners {
    border-radius: 20px;
}

#search {
    height: 20px;
    width: 100px;
    align-items: center;
    text-align: center;
}

p {
    align-items: left;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

img {
    display: block;
    margin: 0 auto;
}

#textbox {
    height: 30px;
    width: 500px;
    font-size: 25px;
}

#search {
    height: 38px;
    width: 150px;
    font-size: 25px;
}

a {
    margin: 20px;
    text-align: center;
    font-size: 25px;
}

.upper_right {
    margin-bottom: auto;
    float: right;
}

div {
    padding: 50px;
    font-size: 30px;;
}

button {
    height: 20px;
    width: 120px;
}